<settings>
   <servers>
      <server>
         <id>Maven-Releases-1</id>
         <username>admin</username>
         <password>admin</password>
      </server>

      <server>
         <id>Maven-snapshorts-1</id>
         <username>admin</username>
         <password>admin</password>
     </server>
  </servers>
</settings>
